jenkins:
  TestBuild:
    url: 'http://localhost:5555'
    user: bob
    password: jenkinsPass
    order: 1

  NewBuild:
    url: 'http://localhost:5555'
    order: 2

mingle:
  user: bob
  password: minglePass
  host: 'http://my.mingle.host:7777'
