/* 'smiley' theme styles */

div.success{
  background: url(images/ShinySmileyFacesWin/cha-ching.png) no-repeat 1400px 25px;
  color: #00FF00;  
}

.success .subject {
  color: #00FF00;
}

.success .statusDetails {
  color: #008800;
}

div.failure{
  background: url(images/ShinySmileyFacesWin/surprise.png) no-repeat 1400px 25px;
  color: #AA0000;
}

.failure a {
  color: #FF0000;
}

.failure .statusDetails {
  color: #880000;
}

div.building {
  background: url(images/ShinySmileyFacesWin/cool.png) no-repeat 1400px 25px;
  color: yellow;
}

.building .subject {
  color: yellow;
}

.building a {
  color: yellow;
}

.building .statusDetails {
}

.buildingFailed {
  background: url(images/ShinySmileyFacesWin/nervous.png) no-repeat 1400px 25px;  
}

div.disabled{
  color: grey;
  background: url(images/ShinySmileyFacesWin/sad.png) no-repeat 1400px 25px;
}

